<mat-toolbar>
    <span class="title">SkinCareShop</span>
    <span class="spacer"></span>
    <div class="functionality">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/products">Products</a>
        <a mat-button routerLink="/basket">Shopping Cart</a>
        <a mat-button routerLink="/contact">Contact</a>
    </div>
    <span class="spacer"></span>
    <div class="identity">
        <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
    </div>
</mat-toolbar>