<mat-toolbar>
  <img src="/assets/logo.png" alt="logo" class="logo" routerLink="/">
    <span class="title">SkinCareShop</span>
    <span class="spacer"></span>
    <div class="functionality">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/products">Products</a>
        <a mat-button routerLink="/contact">Contact</a>
    </div>
    <span class="spacer"></span>
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <div class="identity">
            <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
            <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
            </div>
        </ng-container>
        <ng-container *ngIf="accountService.currentUser$ | async as user">
            Welcome {{user.username}}
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="accountService.logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
              <a routerLink="/basket" class="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-5 text-secondary"></i>
                <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
                    {{getCount(basket.items)}}
                </div>
            </a>
        </ng-container>
</mat-toolbar>