.mat-toolbar{
  .title{
  color: #808080;
  padding: 5px;
  }
  .functionality{
  a {
  color: #808080;
  text-decoration: none;
  padding: 8px 12px;
  margin: 0 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s; /* Added color transition */
  }
  }
  .identity {
    a{
    color: #808080;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 8px;
    border: 1px solid;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s; /* Added color transition */
    }
  }
}
.mat-toolbar a:hover {
  background-color: #c9c9c979; /* Light mint background color on hover */
  color: #1976D2; /* Text color on hover */
  border-color: #1976D2;
}

.spacer {
  flex: 1 1 auto;
}

.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background: rgb(208, 179, 211);
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

.logo {
  cursor: pointer;
  max-height: 30px;
  &:focus {
      outline: none;
  }
}