<mat-card class="card">
<mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <input  type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field class="field">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  <div class="button">
    <button type="submit" class="btn" [disabled]="loginForm.invalid" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>
