<div class="row">
  <div class="filters-section" [formGroup]="formGroup">
    <mat-form-field class="select">
      <mat-label>Sort</mat-label>
      <mat-select formControlName="sort">
        <mat-option *ngFor="let sort of sortOptions" [value]="sort">
          {{ sort.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field class="select">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option *ngFor="let brand of brands" [value]="brand.name">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="select">
        <mat-label>Types</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.name">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
  
      <!-- Price Range Slider -->
      <!-- <mat-form-field>
        <mat-label>Price Range</mat-label>
        <mat-slider
          formControlName="priceRange"
          [min]="minPrice"
          [max]="maxPrice"
          thumbLabel
          tickInterval="100"
          value="500"
        ></mat-slider>
      </mat-form-field> -->
      <!-- <mat-button-toggle-group formControlName="selectedButtons" name="buttonOptions" aria-label="Button options">
        <mat-button-toggle *ngFor="let option of brands" [value]="option.name">
          {{ option.name }}
        </mat-button-toggle>
      </mat-button-toggle-group> -->
      <!-- <h5>Brand</h5>
      <mat-selection-list formControlName="brand" name="buttonOptions" aria-label="Brand" [multiple]="false">
          <mat-list-option *ngFor="let option of brands" [value]="option.name">{{option.name}}</mat-list-option>
      </mat-selection-list> -->
  
      <button mat-raised-button (click)="resetSelection()">Reset</button>
  
    </div>
    <div class="products-section">
      <div *ngFor="let product of products" class="product-card">
        <app-product-item [product]="product"></app-product-item>
      </div>
  
  </div>
</div>
<div class="row">
  <mat-paginator style="width: 100%;" #paginator *ngIf="products" [length]="totalCount"
  [pageSize]="filters['page-size']"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  (page)="handlePage($event)"
  >
</mat-paginator>
</div>

  

