// your-component.styles.scss or styles.css

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px; /* Adjust max-width based on your preference */
  body {
    background-color: #b2dfdb; /* Mint color background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin */
  }
}

.product-detail,
.comment-table {
  width: 48%; /* Adjust width based on your preference */
  box-sizing: border-box; /* Include padding and border in the total width */
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* White background */
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-details {
  flex: 1;
  margin-left: 20px;
}

.product-name {
  font-size: 24px;
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .star {
    font-size: 24px;
    color: #4caf50; /* Mint color for empty stars */
    cursor: pointer;
    margin-right: 4px;
  }

  .star-filled {
    font-size: 24px;
    color: #fdd835; /* Yellow color for filled stars */
    cursor: pointer;
    margin-right: 4px;
  }

  .rating-value {
    margin-left: 8px;
  }
}

.comment-table {
  background-color: #ffffff; /* White background for the comment section */

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 12px;
      border-bottom: 1px solid #ccc;
      text-align: left;
    }

    th {
      background-color: #f0f0f0; /* Light grey background for header */
    }

    tr:hover {
      background-color: #f5f5f5; /* Light grey background on hover */
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .comment-input {
    width: calc(100% - 16px);
    margin-bottom: 8px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #4caf50; /* Mint color for button background */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #45a049; /* Darker mint color on hover */
    }
  }
}

.star-filled {
  font-size: 18px;
  color: #fdd835;
  margin-right: 2px;
}

.comment-card-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.comment-input{
  width: 100%;
  margin: 0 0 0 0;

  textarea {
    height: 60px;
  }
}