<div>
<div class="product-detail container" *ngIf="product">
  <div class="product-image">
    <img [src]="product?.pictureUrl" alt="{{ product.name }}">
  </div>

  <div class="product-details">
    <h2 class="product-name">{{ product.name }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">{{ product.price | currency: 'EUR' }}</p>

    <div class="product-rating">
      <span *ngFor="let _ of [1, 2, 3, 4, 5]" class="star">
        <ng-container *ngIf="_ <= averageRating ; else grayStar">&#9733;</ng-container>
        <ng-template #grayStar>&#9734;</ng-template>
      </span>
      <span class="rating-value">Rating: {{ averageRating | number:'1.0-1' }}</span>
    </div>
    <button mat-button (click)="addToCart(product)">Add to Card</button>
  </div>
</div>

<div *ngIf="product && product.comments.length >0 " class="comment-table container">
  <!-- <mat-divider></mat-divider>   -->
  <ng-container class="row">
  <table  mat-table [dataSource]="product.comments" class="comments">

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let comment">{{ comment.userEmail }}</td>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let comment">{{ comment.comment }}</td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let comment">{{ comment.rating }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['user', 'text', 'rating']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['user', 'text', 'rating'];"></tr>
  </table>

</ng-container>
</div>

<div class="comment-table container">
    <textarea [(ngModel)]="newComment" placeholder="Add your comment" class="comment-input"></textarea>
    <mat-card-actions class='comment-card-action'>
      <button mat-button (click)="addComment()">Add Comment</button>
    </mat-card-actions>
</div>

