<div class="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of images; let i = index" [class.active]="i === activeIndex" class="carousel-item">
      <img [src]="image.src" [alt]="image.alt">
      <a [routerLink]="['/products']" class="card-link">
      <div class="carousel-caption">
        <h4>{{ image.label }}</h4>
        <p>{{ image.content }}</p>
      </div>
    </a>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div *ngIf="topRatedProduct" class="widget-container">
  <a [routerLink]="['/products', topRatedProduct.id]" class="card-link">
    <div class="hover-container">
      <button class="view-span">BUY NOW</button>
    </div>
    <mat-card class="hover-card">
      <h4 class="card-title">Our top rated product with {{ topRatedRating | number:'1.0-1'}} / 5</h4>
      <mat-card-header>
        <mat-card-title-group>
          <img class="card-img" src="{{ topRatedProduct.pictureUrl }}" alt="top-rated">

          <mat-card-title>{{ topRatedProduct.name }}</mat-card-title>
          <mat-card-title>{{ topRatedProduct.productBrand.name }} / {{ topRatedProduct.productType.name }}</mat-card-title>
          <mat-card-subtitle>{{ topRatedProduct.description }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content></mat-card-content>
    </mat-card>
  </a>
  </div>

  <app-footer></app-footer>
  